<html>

<head>
	<title>Notebook</title>
	<!-- Icons & Stylesheets -->
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<!--<link rel="stylesheet" href="style.css" />-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
	<!-- Include the library in the page -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Add the marked library: -->
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script src="https://unpkg.com/moment"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- Notebook app -->
	<div id="notebook">
		<div class="container">
			<div class="row">
				<!-- Sidebar -->
				<section class="col-2 bg-success bg-opacity-25">
					<div class="toolbar">
						<span v-if="isUser">Hi,<br>{{ user.name }}<span><br>
								<button class="btn btn-primary" @click="logout">
									<!--<i class="material-icons">logout</i>--> Logout
								</button>
					</div>
					<ul class="nav flex-column nav-pills">
						<li class="nav-item" v-for="menu of menus" @click="showMenuId = menu.menuId">
							<a class="nav-link" :class="{ active: menu.menuId === showMenuId }" aria-current="page"
								href="#">{{ menu.menuName }}</a>
						</li>
					</ul>
				</section>

				<section class="col-7 bg-primary bg-opacity-25">
					<div v-if="showMenuId === 0">
						<input v-model="id" /> <button @click="login">login</button><br>
						<br>User(_id=61a36f147d1810329be4c1a3, name=admin, email=admin)
						<br>User(_id=607c335dc49e252c88301c77, name=Steve Jennings, email=tiwekacud@ussuwep.lu)
						<br>User(_id=607c335ec49e252c88301c78, name=Beulah Huff, email=meb@kijlago.dz)
						<br>User(_id=607c335ec49e252c88301c79, name=Harriet Doyle, email=ban@feg.bf)
						<br>User(_id=607c335ec49e252c88301c7a, name=Miguel Cain, email=luowo@siggevu.ky)
						<br>User(_id=607c335ec49e252c88301c7b, name=Carrie Elliott, email=karezej@copi.li)
						<br>User(_id=607c335ec49e252c88301c7c, name=Alan Roberson, email=tuuw@dozwa.sa)
						<br>User(_id=607c335fc49e252c88301c7d, name=Mabel Alexander, email=to@wukmep.sn)
						<br>User(_id=607c335fc49e252c88301c7e, name=Eugenia Carpenter, email=rewizda@fowapaese.mo)
						<br>User(_id=607c335fc49e252c88301c7f, name=Martha Maldonado, email=norvondij@ka.vu)
						<br>User(_id=607c335fc49e252c88301c80, name=Allie Daniels, email=ze@ro.md)
						<br>User(_id=607c335fc49e252c88301c81, name=Jim Smith, email=zoapoju@tatiw.tw)
						<br>User(_id=607c3360c49e252c88301c82, name=Elva Guerrero, email=ikni@novuk.za)
						<br>User(_id=607c3360c49e252c88301c83, name=Tillie Moore, email=mubudote@kas.mz)
						<br>User(_id=607c3360c49e252c88301c84, name=Craig Duncan, email=riduw@sune.gs)
						<br>User(_id=607c3360c49e252c88301c85, name=Ricky Arnold, email=sulsa@jibazuf.fk)
						<br>User(_id=607c3360c49e252c88301c86, name=Estelle Lane, email=mi@emaanju.cv)
						<br>User(_id=607c3361c49e252c88301c87, name=Rhoda Neal, email=ziasu@fovo.org)
						<br>User(_id=607c3361c49e252c88301c88, name=Lucille Tucker, email=jocbek@itoahuboh.na)
						<br>User(_id=607c3361c49e252c88301c89, name=Isaac Miles, email=va@isomigu.gn)
						<br>User(_id=607c3361c49e252c88301c8a, name=Adam Garza, email=oba@timow.vc)
						<br>User(_id=607c3362c49e252c88301c8b, name=Nancy Maxwell, email=dup@be.vn)
						<br>User(_id=607c3362c49e252c88301c8c, name=Etta Sanders, email=baomus@pa.lv)
						<br>User(_id=607c3362c49e252c88301c8d, name=Ellen Gibson, email=zud@mufu.nu)
						<br>User(_id=607c3362c49e252c88301c8e, name=Sean Cortez, email=eb@wocih.bj)
						<br>User(_id=607c3362c49e252c88301c8f, name=Susan Wagner, email=ziweg@atgezle.va)
						<br>User(_id=607c3363c49e252c88301c90, name=Joseph Stevens, email=ko@jabjet.org)
						<br>User(_id=607c3363c49e252c88301c91, name=Warren Pratt, email=zetokmiw@del.ps)
					</div>
					<div v-if="showMenuId === 1">
						<li v-for="exchange of exchanges">{{ `Red ${exchange.myR} -> White ${exchange.exW}` }}</li>
						<hr>
						<li v-for="user of users">{{ user }}</li>
					</div>
					<div v-if="showMenuId === 2">2번메뉴</div>
					<div id="exchange" v-if="showMenuId === 3">
						<div class="row row-cols-1 row-cols-md-3 g-4">
							<div v-for="exchange of exchanges" class="col">
								<div @click="match(exchange)"
									:class="[ 'btn card text-white mb-3', 'bg-' + cardSeg[exchange.matchingStatus] ]"
									style="max-width: 18rem;">
									<div class="card-header">{{ statusCd[exchange.matchingStatus] || '찾는중' }}</div>
									<div class="card-body">
										<h5 class="card-title">
											<template v-if="exchange.myR != 0">
												<span style="color:red">{{ exchange.myR }} </span>
												->
												<span style="color:white">{{ exchange.exW }} </span>
												({{ exchange.matchingCount || 0 }})
											</template>
											<template v-else>
												<span style="color:white">{{ exchange.myW }} </span>
												->
												<span style="color:red">{{ exchange.exR }} </span>
												({{ exchange.matchingCount || 0 }})
											</template>
										</h5>
										<p class="card-text">
											{{ exchange.fromDt }} ~ {{ exchange.toDt }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- Preview pane -->
				<aside class="col-3 bg-info bg-opacity-25">
					<ul class="list-group">
						<template v-if="matchingList != null && matchingList.length == 0">
							<li class="list-group-item">그거랑은 매칭할만한게 없어요</li>
						</template>
						<li v-for="exchange of matchingList"
							:class="['list-group-item', 'list-group-item-' + cardSeg[exchange.matchingStatus] ]">
							<template v-if="exchange.myR != 0">
								<span style="color:red">{{ exchange.myR }} </span> -> <span style="color:white">{{
									exchange.exW }} </span>
								({{ statusCd[exchange.matchingStatus || 'null'] }})<br>
								({{ exchange.userName }})
							</template>
							<template v-else>
								<span style="color:white">{{ exchange.myW }} </span> -> <span style="color:red">{{
									exchange.exR }} </span>
								({{ statusCd[exchange.matchingStatus || 'null'] }})<br>
								({{ exchange.userName }})
							</template>
						</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

	<!-- Some JavaScript -->
	<script src="index.js" type="module"></script>
	<script src="loadJson.js" type="module"></script>
</body>

</html>